{
  "parser": "@typescript-eslint/parser",
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/recommended",
    "prettier"
  ],
  "plugins": [
    "@typescript-eslint",
    "prettier"
  ],
  "rules": {
    "@typescript-eslint/no-var-requires": "off",
    "prettier/prettier": "warn",
    "no-constant-condition": [
      "error",
      {
        "checkLoops": false
      }
    ]
  }
}
